name: "Flutter Tests"

on:
  pull_request:
    branches: [ master ]


jobs:
  build_apk:
    steps:
    - uses: actions/checkout@v1
    - uses: actions/setup-java@v1
      with:
        java-version: '12.x'
    - uses: subosito/flutter-action@v1
      with:
        flutter-version: '1.17.5'
    - run: flutter pub get
    - run: flutter build apk